<h1>Welcome to Post page</h1>
<h2>Create a New Post</h2>
<div>
    <form method="POST" action="post">{% csrf_token %}
        <textarea name="my_text", placeholder="Write your post here...." cols="50" rows="6"></textarea>
        <br><br>
        Created at :-<input type="datetime-local" name='created'><br>
        Updated at :-<input type="datetime-local" name='updated'>
        <button type="submit">Post</button><button type='submit'><a href="{% url 'logout' %}">Logout</a></button> 
    </form>
</div>
<a href="{% url 'signup' %}">Signup</a><br>
<a href="{% url 'login' %}">Login</a>
